@use "./variables" as var;

// NAVIGATION

.header-top {
    display: flex;
    margin: 5px auto;
    // height: 10vh;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        // margin-top: 10px;
    }
}

.header-logo img {
    max-width: 80%;
}

.header-nav li {
    display: inline-block;
    margin: 15px 0;


    a {   
        padding: 0 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: var.$black;

    }
}

// ************ HOME PAGE ****************

// MAIN HEADER

.header-main {
    background: url(./../assets/assets/header/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    // margin-top: 10px;
}

.header-main .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


    .header-text-container, 
    .header-image-container {
        width: 50%;
        padding: 0 20px;
        margin-top: 3%;
    }
}

// HEADER TEXT
.header-text-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-right: 30px;
    margin-left: 50px;

    h1 {
        font-family: var.$FontStack;
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    p {
        line-height: 1.2;
    }
}

.header-text-button {
    background: var.$green;
    margin: 10px 0;
    border: none;
    border-radius: 20cm;
    padding: 5px 0;

    a {
        color: var.$white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 15px;
        margin: 10px 0;
        
    }
}

.header-image-container {
    margin-right: 30px;
}

// ************ CONTACT PAGE ****************

// MAIN HEADER

.contact-header {
    background: url(./../assets/assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 36vh;

    .overlay {
        background: rgba(57, 57, 57, 0.502);
        height: 100%;
    }

    .wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        color: var.$white;
        font-family: var.$FontStack;
        font-weight: 400;
        text-align: center;
    }
}


// RESPONSIVE DESIGN

@media (max-width: 768px) {
    
    .header-main {
        height: 80vh;

        .wrapper {
            height: 70vh;
            
            .header-text-container, 
            .header-image-container {
                padding: 0;
                margin-top: 0;
            }
        }
    }
        
    .header-text-container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    
    .header-image-container {
        display: none;
    }

    .header-main .wrapper .header-text-container {
        width: 80%;
    }
}

@media (max-width: 500px) {

    .header-nav li a {
        padding: 0 7px;
    }
}

// Hamburger menu 

nav .open-menu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .main-menu .close-menu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

@media (max-width: 500px) {
    nav .main-menu {
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        background: var.$white;
        display: none;
    }

    nav .main-menu .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .open-menu {
        display: block;
    }
}
