html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 100%;
  color: #1A2428;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.button:focus,
.button:hover {
  background-color: #fff;
  border: 1px solid #207200;
}
.button:focus a,
.button:hover a {
  color: #207200;
}

form .button:focus,
form .button:hover {
  background-color: #5fb35f;
  border: none;
}

.social-media .fa:hover,
.social-media .fa:focus {
  background: #fff;
  color: #207200;
}

.header-nav li a:hover {
  color: #207200;
  font-weight: 600;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
}
.header-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-logo img {
  max-width: 80%;
}

.header-nav li {
  display: inline-block;
  margin: 15px 0;
}
.header-nav li a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #1A2428;
}

.header-main {
  background: url(./../assets/assets/header/background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}
.header-main .wrapper .header-text-container,
.header-main .wrapper .header-image-container {
  width: 50%;
  padding: 0 20px;
  margin-top: 3%;
}

.header-text-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 30px;
  margin-left: 50px;
}
.header-text-container h1 {
  font-family: "Lora", Arial, serif;
  font-size: 2.5rem;
  margin-bottom: 5px;
}
.header-text-container p {
  line-height: 1.2;
}

.header-text-button {
  background: #207200;
  margin: 10px 0;
  border: none;
  border-radius: 20cm;
  padding: 5px 0;
}
.header-text-button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
  margin: 10px 0;
}

.header-image-container {
  margin-right: 30px;
}

.contact-header {
  background: url(./../assets/assets/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 36vh;
}
.contact-header .overlay {
  background: rgba(57, 57, 57, 0.502);
  height: 100%;
}
.contact-header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-header h1 {
  color: #fff;
  font-family: "Lora", Arial, serif;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  .header-main {
    height: 80vh;
  }
  .header-main .wrapper {
    height: 70vh;
  }
  .header-main .wrapper .header-text-container,
  .header-main .wrapper .header-image-container {
    padding: 0;
    margin-top: 0;
  }
  .header-text-container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .header-image-container {
    display: none;
  }
  .header-main .wrapper .header-text-container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .header-nav li a {
    padding: 0 7px;
  }
}
nav .open-menu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .main-menu .close-menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  nav .main-menu {
    height: 50vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    background: #fff;
    display: none;
  }
  nav .main-menu .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .open-menu {
    display: block;
  }
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}
.about .wrapper .about-text-container,
.about .wrapper .about-motto-container {
  width: 50%;
  padding: 0 auto;
}

.about-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 35px;
}
.about-text-container h3, .about-text-container h1 {
  font-family: "Lora", Arial, serif;
}
.about-text-container h3 {
  font-size: 1rem;
}
.about-text-container h1 {
  margin: 2px 0;
  font-size: 1.5rem;
}
.about-text-container p {
  margin: 10px 0;
}

button {
  background: #207200;
  margin: 15px 0;
  border: none;
  border-radius: 20cm;
  padding: 5px 0;
}
button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
  margin: 10px 0;
}

.about-motto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  margin-top: 20px;
}
.about-motto-container .shape {
  height: 150px;
  width: 350px;
  border-radius: 40px;
  background-color: #5fb35f;
}
.about-motto-container p {
  padding: 2rem 70px 2rem 30px;
  color: #fff;
  font-family: "Lora", Arial, serif;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  .about .wrapper .about-text-container {
    width: 70vw;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
  .about .wrapper .about-text-container .about-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about .wrapper .about-motto-container {
    width: 70vw;
    margin-bottom: 5%;
  }
  .about .wrapper .about-motto-container .shape {
    border-radius: 10px;
    padding: 2%;
    height: 100%;
    width: 100%;
  }
  .about .wrapper .about-motto-container .shape p {
    padding: 0;
    margin: 5%;
    text-align: center;
  }
}
.section-head-container {
  text-align: center;
  padding: 0 100px;
  margin-top: 80px;
}
.section-head-container h2 {
  font-family: "Lora", Arial, serif;
  text-transform: uppercase;
}
.section-head-container p {
  margin: 0 50px 50px;
  padding: 0 80px;
}

.product-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-list .wrapper .product-card {
  padding: 1.5%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  border: 0.5px solid rgba(207, 205, 205, 0.314);
  padding: 10px;
}
.product-info h4 {
  font-family: "Lora", Arial, serif;
}
.price {
  color: #207200;
  font-weight: 600;
}
.price .price-before {
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
}

.product-card button {
  background: #207200;
  position: relative;
  bottom: -20px;
  border: none;
  border-radius: 20cm;
  padding: 4px 0;
}
.product-card button a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  margin: 10px 0;
}

.load-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.load-button button {
  margin: 20px;
  background: #207200;
  border: none;
  border-radius: 20cm;
  padding: 5px 0;
}
.load-button button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .section-head-container {
    padding: 0;
  }
  .product-list .wrapper .product-card {
    min-width: 200px;
    margin: 2%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (max-width: 500px) {
  .section-head-container p {
    padding: 0;
  }
}
.gallery {
  background-image: url(./../assets/assets/grass.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.gallery-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}
.gallery-text-container h2 {
  font-family: "Lora", Arial, serif;
  text-transform: uppercase;
}
.gallery-text-container p {
  padding: 0 20%;
  text-align: center;
}
.gallery-text-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.gallery-text-container ul li {
  margin: 2%;
}

.gallery-buttons button {
  background: #207200;
  border: none;
  border-radius: 20cm;
  padding: 5px 0;
}
.gallery-buttons button a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  margin: 10px 0;
}

.image-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.image-gallery-container li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.image-gallery-container li img {
  width: 100%;
  height: 100%;
}
.image-gallery-container .larger-image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: auto;
}

@media (max-width: 768px) {
  .image-gallery-container li {
    min-width: 45%;
  }
}
@media (max-width: 500px) {
  .gallery-text-container p {
    padding: 0;
  }
  .image-gallery-container li {
    min-width: 50%;
  }
}
.news {
  background: #207200;
  padding-bottom: 50px;
}
.news .section-head-container {
  color: #fff;
  margin-top: 0;
  padding-top: 50px;
}
.news .section-head-container h2 {
  margin-top: 0;
}
.news .section-head-container p {
  padding: 0;
  margin-bottom: 30px;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-container .blog {
  background-color: #fff;
  padding: 2%;
  margin: 0 10px;
  border-radius: 0.1cm;
}
.news-container img {
  border-radius: 0.1cm;
}

.blog h3 {
  font-family: "Lora", Arial, serif;
}

.blog button {
  background: #207200;
  border: none;
  border-radius: 20cm;
  padding: 13px 5px;
  margin: 10px 0;
}
.blog button a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  margin: 10px 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .news-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news-container .blog {
    margin: 5% 15%;
    min-width: 70vw;
  }
}
.form-row {
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-row .form-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.form-info {
  margin: 30px 30px;
  padding: 15px 20px 15px 55px;
  border-left: 7px solid #207200;
  -webkit-box-shadow: 7px 10px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 10px 10px 1px rgba(0, 0, 0, 0.1);
  min-width: 20vw;
}
.form-info h3 {
  font-family: "Lora", Arial, serif;
}

.form-column form {
  margin: 10px;
  padding: 15px 2px;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
}
.form-column form fieldset {
  border: none;
}
.form-column form fieldset input.name,
.form-column form fieldset input[type=email],
.form-column form fieldset input[type=tel],
.form-column form fieldset input[type=url] {
  margin: 10px;
  padding: 20px 10px;
  height: 48px;
  width: 45%;
}
.form-column form fieldset input.subject {
  margin: 10px;
  padding: 20px 10px;
  height: 48px;
  width: 95%;
}
.form-column form fieldset textarea {
  margin: 10px;
  color: gray;
  padding: 20px;
  padding-left: 10px;
}

form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #207200;
  border: none;
  padding: 10px 20px;
  border-radius: 500px;
  margin: 10px auto;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 940px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-row .form-column {
    margin: 5% 6%;
  }
}
@media (max-width: 768px) {
  .form-column form {
    min-width: 470px;
  }
}
@media (max-width: 500px) {
  .form-column form {
    min-width: 470px;
  }
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.footer .wrapper .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .wrapper .footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 1.5%;
}

footer h2,
footer h4 {
  font-family: "Lora", Arial, serif;
  font-weight: 600;
}

footer h2 {
  font-size: 20px;
}

footer h4 {
  font-size: 12px;
}

.brand p {
  line-height: 2;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-media .fa {
  padding: 10px;
  font-size: 20px;
  width: 42px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #207200;
  color: #fff;
}

.links h3 {
  margin-bottom: 30px;
}
.links p {
  padding: 2px 0;
}
.links p a {
  text-decoration: none;
  color: #1A2428;
}

.footer-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-product-card .footer-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-product-card .footer-product-info h4 {
  margin: 10px 0;
}
.footer-product-card .footer-product-info .price-before {
  color: #207200;
  font-weight: 600;
}

.footer-product-card img {
  width: 7vw;
  margin: 5px;
}

.info-type {
  font-weight: 600;
  margin-top: 7%;
}

.info form input {
  padding: 5px 15px;
}

.footer {
  background: url(./../assets/assets/cow.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 1px;
}

.footer-copyright {
  text-align: center;
}
.footer-copyright p {
  color: #fff;
  margin: 25px 0 10px;
  font-size: 10px;
}

@media (max-width: 768px) {
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-column {
    margin: 2%;
  }
  .links {
    display: none;
  }
  .footer-products {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer {
    background-size: auto;
  }
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-column {
    width: 80%;
    text-align: center;
  }
  .social-media {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}